@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

Home Page


<br />
<br />
 //传入酒店ID，返回酒店所有的楼层编号<br />

<a href="http://172.68.2.198:8080/hotel/floors/0">http://172.68.2.198:8080/hotel/floors/0</a>
<br />
<br />
//传入楼层ID，返回该楼层的ID<br />

<a href="http://172.68.2.198:8080/Floor/Rooms/0">http://172.68.2.198:8080/Floor/Rooms/0</a>
<br />
<br />
//传入楼层ID，返回楼层中所有的房间类型:
<br/>
<a href="http://172.68.2.198:8080/Floor/RoomTypes/0">http://172.68.2.198:8080/Floor/RoomTypes/0</a>
<br />
<br />
Images: <a href="http://172.68.2.198:8080/Images/">http://172.68.2.198:8080/Images/</a>
<br />
<br /><br />
<br />
<br />
<br /><br />
<br />
<br />
<br /><br />
<br />
<br />
<br /><br />
<br />
<br />
<br /><br />
<br />
<br />
<br /><br />
<br />
<br />
<br /><br />
<br />
<br />
<br /><br />
<br />
<br />
<br /><br />
<br />
<br />
<br /><br />
<br />
<br />
<br /><br />
<br />
<br />
<br />
